* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

:root {
    --umbrella-color: url('assets/images/Pink umbrella.png');
    --upload-border: #db518b;
    --background: #ffdfec;
}

body {
    background: var(--background);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Umbrella image */
.image-section {
    position: relative;
}

#umbrella-image {
    height: 24rem;
    margin-top: 6.25rem;
}

/* Umbrella customize */
.customize-section {
    color: black;
    flex-basis: 30%;
    margin-top: 3rem;
}

.heading {
    font-size: 2.5rem;
    font-weight: bold;
}

.color-icon {
    margin-top: 2rem;
}

.color-icon span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.color-icon span.active {
    border: 4px solid #FFB6C1;
}

.upload-section {
    margin-top: 2rem;
}

.upload-section p {
    margin-top: 3px;
    font-size: 14px;
}

#upload-icon {
    cursor: pointer;
}

#remove-logo {
    cursor: pointer;
}

.file-type {
    font-size: 12px;
}

#upload-file {
    position: relative;
    transition: .2s linear;
    width: 23rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    background: var(--upload-border);
    color: white;
}

#upload {
    display: none;
    margin: auto;
}

#upload-logo-text {
    margin: auto;
    font-weight: bold;
}

#logo {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
    width: 4rem;
    height: 1rem;
    position: absolute;
}

#loader {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    height: 4rem;
    animation: spin 1s linear infinite;
}

#small-loader {
    display: none;
    filter: invert(93%) sepia(93%) saturate(28%) hue-rotate(116deg) brightness(108%) contrast(106%);
    position: absolute;
    top: 50%;
    left: 6%;
    height: 1.5rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {

    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media (max-width:992px) {
    .content {
        flex-direction: column;
    }

    .image-section {
        margin-bottom: 100px;
        order: 2;
    }

    .customize-section {
        margin-top: 1.5rem;
        order: 1;
    }

    #umbrella-image {
        height: 18rem;
    }

    .heading {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
    }

    .color-icon {
        text-align: center;
        margin-top: 1.5rem;
        text-align: center;
    }

    .upload-section {
        margin-top: 1.5rem;
        text-align: center;
    }

    .upload-section p {
        text-align: center;
        margin-top: 3px;
        font-size: 14px;
    }

    .file-type {
        font-size: 10px;
    }

    #upload-file {
        width: 20rem;
    }
}